.getin {
    text-align: center;
    margin: 22;
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    font-size: 90px;
    top: 10%;
    color: #ffffff;
    text-indent: 50px;
}

.touch {
    text-align: center;
    margin: 22;
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 90px;
    top: 10%;
    color: #ffe500;
}

.form-group {
    display: flexbox;
    margin-top: 90px;
    text-align: center;
}

input[type="text"] {
    width: 15%;
    padding: 12px 12px;
    line-height: 12px;
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    color: #1c1c1c;
    font-size: 18px;
    background-color: #ffffff;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type="text"]:hover {
    transform: perspective(1px) translateZ(+0.02px);
    transition: all ease 0.2s;
}

input[type="email"],
select,
textarea {
    width: 30%;
    padding: 12px 12px;
    line-height: 12px;
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    color: #1c1c1c;
    font-size: 18px;
    background-color: #ffffff;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type="email"]:hover {
    transform: perspective(1px) translateZ(+0.02px);
    transition: all ease 0.2s;
}

textarea:hover {
    transform: perspective(1px) translateZ(+0.02px);
    transition: all ease 0.2s;
}

button {
    align-items: center;
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #1c1c1c;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffe500;
    cursor: pointer;
}

button:hover {
    color: #ffffff;
    background-color: rgba(255, 229, 0, 0.9);
    border: solid #ffe500;
    transform: perspective(1px) translateZ(-0.2px);
    transition: all ease 0.2s;
}

@media screen and (max-aspect-ratio: 1/1) {
    .form-group {
        display: flexbox;
        margin-top: 90px;
        text-align: center;
    }

    input[type="text"] {
        width: 30%;
        padding: 12px 12px;
        line-height: 12px;
        font-family: "Figtree", sans-serif;
        font-weight: 400;
        color: #1c1c1c;
        font-size: 18px;
        background-color: #ffffff;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    input[type="text"]:hover {
        transform: perspective(1px) translateZ(+0.02px);
        transition: all ease 0.2s;
    }

    input[type="email"],
    select,
    textarea {
        width: 50%;
        padding: 12px 12px;
        line-height: 12px;
        font-family: "Figtree", sans-serif;
        font-weight: 400;
        color: #1c1c1c;
        font-size: 18px;
        background-color: #ffffff;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    button {
        align-items: center;
        font-family: "Figtree", sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #1c1c1c;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        background-color: #ffe500;
        cursor: pointer;
    }

    button:hover {
        color: #ffffff;
        background-color: rgba(255, 229, 0, 0.9);
        border: solid #ffe500;
        transform: perspective(1px) translateZ(-0.2px);
        transition: all ease 0.2s;
    }
}